body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px 20px;
}

#bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    width: 70%;
}

h4 {
    font-style: italic;
}

img {
    padding: 10px 5px 0px 0px;
    width: 90%;
    border: 1px solid grey;
}

.column {
    float: left;
    width: 33.33%
}

.row {
    font-size: 0.8em;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}